@font-face {
    font-family: 'DejaVuMono';
    src: url('../fonts/DejaVuSansMono-webfont.eot');
    src: url('../fonts/DejaVuSansMono-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DejaVuSansMono-webfont.woff') format('woff'),
         url('../fonts/DejaVuSansMono-webfont.ttf') format('truetype'),
         url('../fonts/DejaVuSansMono-webfont.svg#dejavu_sans_monobook') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DejaVuMono';
    src: url('../fonts/DejaVuSansMono-Bold-webfont.eot');
    src: url('../fonts/DejaVuSansMono-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DejaVuSansMono-Bold-webfont.woff') format('woff'),
         url('../fonts/DejaVuSansMono-Bold-webfont.ttf') format('truetype'),
         url('../fonts/DejaVuSansMono-Bold-webfont.svg#dejavu_sans_monobold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,500italic,900,700italic,900italic);

body {
  color: #000;
  background-color: $grey;
  font-size: 14px;
  font-family: Roboto, Arial, serif;

  .header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 59px;
    background: #EBEBEB;
    border-bottom: 2px solid #D0D0D0;

    .app-name {
      font-size: 34px;
      font-weight: bold;
      padding: 9px 12px;
      display: block;
    }

    .files {
      position: absolute;
      bottom: 0;
      right: 0;
      left: $column-left;
      height: 30px;

      .file-tabs {
        margin: 0;
        padding: 0;
        list-style: none;

        .file-tab {
          display: block;
          padding: 2px 10px;
          float: left;
          border-right: 1px solid $grey;
          cursor: pointer;
          position: relative;

          &.active:after {
            position: absolute;
            content: "";
            left: -1px;
            right: -1px;
            bottom: -8px;
            height: 0;
            border-bottom: 4px solid #777;
          }

          &:last-child {
            border-right: none;
          }
        }
      }
    }
  }

  .styles-container {
    position: absolute;
    top: 60px;
    left: $column-left;
    right: $column-right;
    bottom: 0;
    z-index: 2;

    > .style-item {
      position: absolute;
      padding: 6px 8px 0 0;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: auto;
      padding-bottom: 16px;

      > li {
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
        background: #fff;
        border-radius: 3px;
        padding: 8px 2px;
        margin: 0 6px 8px 0;
      }
    }
  }

  .sidebar-container {
    position: absolute;
    top: 60px;
    right: 0;
    bottom: 16px;
    width: $column-right - 1px;
  }

  .footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 15px;
    font-size: 12px;
    padding: 2px;
    background: $grey;

    .footer-container {
      display: -webkit-flex;

      .icons {
        margin-left: 200px;
      }

      .version {
        text-align: right;
        -webkit-flex: 1;
      }
    }
  }
}