ul.style-item {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "DejaVuMono", sans-serif;
  font-size: 12px;

  li {
    margin: 0;
    padding: 0;
  }
}

.node {
  padding-left: 10px;
}

.list-node {
  margin-bottom: 10px;
}

li:last-child > .list-node {
  margin: 0;
}

.property-toggle {
  margin: 0 -2px 0 2px;
}

.node-style-name, .node-media-name, .node-property-name, .node-property-value {
  border: none;
  background: transparent;
}

.node-property > .node-name input {
  color: #C41C16;
}

.node-style > .node-name input {
  max-width: 95%;
}

.property-toggle:checked {
  visibility: hidden;
}

.node-property:hover .property-toggle {
  visibility: visible;
}

.color-node {
  .node-color-indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 1px;
    margin: 3px 0 -2px -4px;
    border: 1px solid #ACACAC;
  }
}

.disabled-property {
  opacity: 0.4;

  * {
    text-decoration: line-through;
  }
}

.changed-node {
  .reset-button {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(../images/reset.png);
    margin: 0 -6px -5px -19px;
  }
}

.group-node {
  padding-left: 10px;
  margin: -1px -1px -1px -21px;
  border: 1px solid #ddd;
  background-color: #f7f7f7;
  border-radius: 4px;
}

.important-toggle {
  opacity: 0.2;
  cursor: pointer;

  &.important-on {
    opacity: 1;
    color: #C41C16;
  }
}

.new-property button {
  margin-left: 30px;
  border: none;
  background: transparent;
  padding: 0;
  color: #06c;
  text-decoration: underline;
}