ul.style-item {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "DejaVuMono", sans-serif;
  font-size: 12px;

  li {
    margin: 0;
    padding: 0;
  }
}

.node {
  padding-left: 10px;
}

.list-node {
  margin-bottom: 10px;
}

li:last-child > .list-node {
  margin: 0;
}

.node-style-name, .node-media-name, .node-property-name, .node-property-value {
  border: none;
  background: transparent;
}

.node-property > .node-name input {
  color: #C41C16;
}

.node-style > .node-name input {
  max-width: 95%;
}

.color-node {
  .node-color-indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 1px;
    margin: 3px 0 -2px -4px;
    border: 1px solid #ACACAC;
  }
}

.important-toggle {
  opacity: 0.2;
  cursor: pointer;

  &.important-on {
    opacity: 1;
    color: #C41C16;
  }
}